<main class="bg-fairy-gradient">
    <div class="flex justify-center pb-10 pt-8">
        <input type="text" placeholder="Rechercher des produits..." (input)="search($event)"
            class="border rounded p-2 w-full max-w-md">
    </div>
    <div class="flex justify-center flex-wrap gap-10">
        <div *ngFor="let product of products | async" class="card m-10">
            <div class="card-img">
                <img class="rounded-md" src="{{ product.image }}" alt="Image product">
            </div>
            <div class="card-title font-emilys-candy">{{ product.shape }} {{ product.name }}</div>
            <div class="card-desc font-playpen-sans">Type : {{ product.categorie }}</div>
            <div class="card-subtitle text-ellipsis line-clamp-3 font-playpen-sans"> {{ product.description }} </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price font-handlee"> {{ product.price }} <span>€</span></div>
                <button class="card-btn" (click)="addToCart(product)">
                    Ajouter au panier
                </button>
            </div>
        </div>
    </div>
</main>